


.header {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    margin-right: 16px;
    font-size: 13px; 
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    justify-content:space-around;
    height: 60px;
  }
  
  .headerli a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    float: right;
    margin-top: 20px;
  }
  
  .headerli a:hover {
    text-decoration: underline;
  }

  .k {
    width: 16px; 
    height: 16px;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    font: 13px;
    margin-left: 20px;
  }

  .s {
    float: none; 
    margin-top: -84px; 
    font: 14px; 
    overflow: hidden;
    font-family:sans-serif;
    margin-right: 1170px;
  }

  /* .container: butonn */

  .container {
    text-align: center;
    margin: 100px;
    margin-top: 118px;
    margin-bottom: 20px;
    min-height: 92px;
    padding-bottom: 74px;
   
  }

/* search area başlanıç */


  .search-area {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -77px;
    width: 582px;
    border-radius: 24px;
   
  }

  .search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
  border-radius: 20px;
  }
  
  .search {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    
  }
  
  .search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
  }
  
  .search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
  }
  
  .input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .input-area {
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 4px;
    display: block;
    outline: none;

    
   
  }
  
  .input {
    margin: 0;
    padding: 0;
    color: rgba(0 0 0 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: text;
    width: 480px;
    border:0px;
  }
  /* search area bitiş */
  /* iki kutunun içindeki yazılar*/
  .googlesearch {
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  .feelinglucky {
    padding: 0 16px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  /* buttonun içindeki ses imgesi*/

  .buttons{
    align-items: center;
    padding-top: 5px;
    padding-left: 498px;
    
}
/* footer : en alt kısım start*/
  .footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
  }
  
  .footerli {
    float: left;
  }
  
  .footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover {
    text-decoration: underline;
  }
 

.headerli img {
    margin-left: 590px;
    margin-top: 20px;
    
}





 /*
  .search-area : arama çubuğunun olduğu kısım

  .buttons:arama çubuğunun altındaki iki kutunun içindekiler
           yer alır.
